<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.socidia.proman"
    android:versionCode="101"
    android:versionName="1.4">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proman">
        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProjectList"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Activity.UploadImgActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1877048474553325~7101973701"></meta-data>

    </application>

</manifest>